@set("extraCss", extraCss ?? "")
@set("background", background ?? "bg-accent-100")
@set("padding", padding ?? "p-4")
@set("gap", gap ?? "gap-4")
@set("as", as ?? "div")
    <{{as}} class="{{background}} flex-1 flex flex-col {{padding}} {{gap}} rounded-lg {{extraCss}}" {{$props.serializeExcept(['extraCss', 'as', "background"])}}>
		{{{ await $slots.main() }}}
</{{as}}>

