	<div class="p-4 flex gap-4 align-center bg-secondary rounded-lg cursor-pointer">
		<span @click="window.history.back()" class="material-symbols-outlined text-primary">
			arrow_back
		</span>
		<div class="text-center text-primary flex-1 font-bold">{{ title }}</div>
		<span class="material-symbols-outlined text-primary">
			more_vert
		</span>
	</div>
