<div class="flex flex-col gap-2 w-full flex-1">
  <label class="text-sm font-bold opacity-50">{{label}}</label>
	<textarea name="{{name}}" class="h-full resize-none text-primary bg-accent-100 p-2 rounded-lg border-secondary focus:ring-primary focus:border-primary" placeholder="{{placeholder}}">{{value ?? ""}}</textarea>
</div>