@!layout("layouts/admin")
@set("title", "Successo!")

@section("body")
<div class="h-full w-full flex flex-col gap-4" x-data="profile">
  @!component("components/section-bar",{
  title: title
  })

  <div class="bg-success flex-1 p-4 rounded-lg flex justify-center items-center ">
    <div class="flex flex-col text-center gap-2">
      <span class="material-symbols-outlined text-7xl font-light">task_alt</span>
      <span class="text-xl">{{message}}</span>
    </div>
  </div>

</div>
@end